body{
	font-size: 18px;
	line-height: 30px;
	font-family: 'Alegreya', serif;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 10px;
	margin-top: 20px;
	line-height: normal;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;	
}		
h1{font-size: 3.5em;}
h2{font-size: 2.6em;}
h3{font-size: 2.4em;}
h4{font-size: 2.2em;}
h5{font-size: 2em;}
h6{font-size: 1.8em;}

p,li,address{
font-size: 1.2em;
line-height: 1.9em;	
}
p{margin-bottom: 1em;margin-top: 2em;}

hr{border: 1px solid #dadada;}

main.main{
	padding: 0;	
}		
.head{
	border-bottom: 1px solid #dadada;
}

#gallery{
	gallery-title{
		margin-bottom: 20px;	
	}
	.image-lightbox{
		position: absolute !important;
		width: 300px !important;
		height: 300px !important;	
		z-index: 1;
	}
	
	.lightbox-container{
		position: relative;
		overflow: hidden;
		min-height: 300px;
		width: 100%;	
	}			
}			

